@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Seu e-mail </p>
    <p>Link no <a href="https://github.com/tassid/projeto-poo">GitHub</a>.</p>
</div>

