@model HomeModel

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo/a @Model.Nome </h1>
    <p>Seu e-mail é @Model.Email.</p>
    <p>Link no <a href="https://github.com/tassid/projeto-poo">GitHub</a>.</p>
</div>

